<h1 class="text-center">Chercher une Rue</h1>

<%= form_tag(search_path, method: "post") do %>
    <div class="from-group">
            <%= text_field_tag :city, nil, placeholder: "Ville", class: "form-control" %>
    </div>
    <div class="form-group">
            <%= text_field_tag :street, nil, placeholder: "Rue", class: "form-control d-none" %>
    </div>
    <div class="form-group text-center my-2">
        <%= submit_tag("Search", class: "btn btn-primary") %>
    </div>
<% end %>

<script>
$(document).ready(function() {
    var cities = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        remote: {
        url: '/city/autocomplete?city=%QUERY',
        wildcard: '%QUERY'
        }
    });

    typeaheadCity = $('#city').typeahead(null, {
        source: cities
    });

    typeaheadCity.on('typeahead:selected', function(e, selected) {
        var id_value_string = $(this).val().toLowerCase().replace(/[^a-z0-9]+/g,'-').replace(/(^-|-$)/g,'');
        $.ajax({
            dataType: "json",
            url: '/search-streets/' + id_value_string,
            dataType: 'json',
            success: function(response) {
                $("#street").removeClass("d-none");

                function jsonToArr(json)  {
                    arrResult = [];
                    for (var i = 0; i < json.length; i++) {
                        arrResult.push(response[i].name);
                    }
                    return arrResult
                };

                var streets = new Bloodhound({
                    local: jsonToArr(response),
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                });

                $('#street').typeahead({
                    highlight: true
                },
                {
                    name: "streets",
                    source: streets.ttAdapter()
                });

            }
        });
    });
});
</script>