<div class="card col-8 p-2 mx-auto shadow bg-yellow">
    <div class="row align-items-center">
        <div class="col-2">
            <%= image_tag("/images/bin_yellow.png", size: "50x50")%>
        </div>
        <div class="col-8">
            <p class="my-auto">Recyclage: <%= days %></p>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
