/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "bootstrap";
@import "font-awesome";

@font-face {
      font-family: 'AvenirNext';
      src: url('/fonts/avenir/AvenirNextLTPro-Cn.otf');
}

@font-face {
      font-family: 'AvenirNextBold';
      src: url('/fonts/avenir/AvenirNextLTPro-HeavyCn.otf');
}

@font-face {
      font-family: 'AvenirNextLight';
      src: url('/fonts/avenir/AvenirNextLTPro-UltLtCn.otf');
}

body {
      font-family: "AvenirNext";
}

.avenir {
      font-family: "AvenirNext";
}

.avenir-bold {
      font-family: "AvenirNextBold";
}

.avenir-light {
      font-family: "AvenirNextLight";
}

$bin-grey: #3c3c3c ;
$bin-orange: #E67E22 ;
$bin-yellow: #FEF160 ;
$bin-blue: #2C82C9 ;
$bin-green: #2ECC71;
$bin-purple: #9b59b6;

.bg-orange {
      background-color: $bin-orange;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

.bg-grey {
      background-color: $bin-grey;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

.bg-green {
      background-color: $bin-green;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

.bg-blue {
      background-color: $bin-blue;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

.bg-yellow {
      background-color: $bin-yellow;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

.bg-purple {
      background-color: $bin-purple;
      background-image: linear-gradient(to left, rgba(0,0,0,0) 10%, rgb(255, 255, 255) 10%);
}

#city-map {
height: 300px;
width: 100%;
}

.twitter-typeahead{
width: 100%;
}
.tt-dropdown-menu{
width: 100%;
}

.tt-query {
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
width: 422px;
margin-top: 4px;
padding: 4px 0;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 4px;
   -moz-border-radius: 4px;
         border-radius: 4px;
-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
   -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
         box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
padding: 3px 20px;
line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
color: #fff;
background-color: $bin-green;

}

.tt-suggestion p {
margin: 0;
}

#main-logo svg {
      height: 150px;
      width: 150px;
}

.bigger-x-margin {
      margin: 0 30%;
}

.big-x-margin {
      margin: 0 25%; 
}

.medium-x-margin {
      margin: 0 20%; 
}

.small-x-margin {
      margin: 0 15%; 
}

.btn-main {
      background-color: $bin-green;
      color: white;
}

.btn-main:hover {
      background-color: #19a051;
      color: white;
}

#main-search {
      width: 100%;
      font-size: 1.3rem;
}

