<div class="row no-gutters">
  <div class="col-md-12 home-form">
    <%= form_tag(map_search_path, method: "get", class: "form-inline", remote: true) do %>
        <%= select_tag "city", options_from_collection_for_select(@cities, "id", "name"), prompt: "Ville", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
        <%= select_tag "street", options_from_collection_for_select(@streets, "id", "name"), prompt: "Rue", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
    <% end %>
  </div>
</div>

<div class="row" id="poubelles_listing">
</div>

<script>
$( document ).ready(function() {
   if ($("select#city").val() == "") {
    $("select#street option").remove();
    var rowStreet = "<option value=\"" + "" + "\">" + "Rue" + "</option>";
    $(rowStreet).appendTo("select#street");
   }
   $("select#city").change(function() {
    var id_value_string = $(this).val();
    if (id_value_string == "") {
     $("select#street option").remove();
     var row = "<option value=\"" + "" + "\">" + "Rue" + "</option>";
     $(row).appendTo("select#street");
    } else {
     // Send the request and update course dropdown
     $.ajax({
      dataType: "json",
      url: '/get_streets_by_city/' + id_value_string,
      success: function(data) {
       // Clear all options from course select
       $("select#street option").remove();
       //put in a empty default line
       var row = "<option value=\"" + "" + "\">" + "Rue" + "</option>";
       $(row).appendTo("select#street");
       // Fill course select
       $.each(data, function(i, j) {
        row = "<option value=\"" + j.id + "\">" + j.name + "</option>";
        $(row).appendTo("select#street");
       });
      }
     });
    }
   });

  });
</script>