<% poubelles.each do |poubelle| %>
  <p>Déchets: <%= poubelle.bin_wastes.first.days %></p>
  <p>Recyclage: <%= poubelle.bin_recycles.first.days %></p>
  <p>Végétaux: <%= poubelle.bin_greens.first.days %></p>
<% end %>
