<h2>Toutes les informations de ma ville</h2>

<h3>Déchets Ménagers - Poubelle bleue</h3>
<p>Ce qui reste après avoir fait le tri: Restes d’aliments (viande, poisson...), miroirs, pots de fleurs, textiles souillés, couches, lingettes, vaisselle cassée...</p>

<h3>Emballages et papier - Poubelle jaune</h3>

<p>TOUT les emballages papier se trient:</p>
<p>Bouteilles, bidons et flacons en plastique 
Boîtes et cartons d’emballages, briques alimentaires
Papiers, journaux, magazines, livres, enveloppes, cahiers
Conserves, barquettes, bouteilles et capsules en aluminium, canettes,
aérosols sans symbole « produits dangereux ou inflammables »
Pots de yaourts, barquettes en plastique et en polystyrène, films et sacs en
plastique, tubes</p>
<p>Les bouchons, capsules et couvercles sont à jeter dans le bac jaune. Les
bouchons en matière synthétique et en liège sont à jeter dans le bac des
ordures ménagères.</p>