<div class="my-auto">
    <p>Après avoir lancé il y a trois ans un nouveau marché de collecte de déchets destiné à être plus écologique et plus durable, lequel a généré des économies majeures et permis une baisse du taux de la Taxe d’Enlèvement des Ordures Ménagères (TEOM) de 6,39 % en 2017 à 5,00 % en 2027 pour les Malakoffiots, Vallée Sud – Grand Paris souhaite poursuivre sa politique environnementale en matière de sensibilisation au tri et à la réduction des déchets.</p>
</div>